<div class="row">
  <div class="col-xm-12">
    <form (click)="onSelected()">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input type="text"
                 id="name"
                 class="form-control"
                 #name>
        </div>
        <div class="col-sm-2 form-group">
          <label for="name">Amount</label>
          <input type="text"
                 id="amount"
                 class="form-control"
                 #amount>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit" (click)="onAddEvent()">Add</button>
          <button class="btn btn-danger" type="button" (click)="onDeleteEvent()">Delete</button>
          <button class="btn btn-primary" type="button" (click)="onClearEvent()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
